.carousel{
    margin-top: 56px;
}

.carouselitem{
    background-size: cover;
    object-position: center;
    max-height: 570px;
}

.orangebg{
    background-color: #FE6A16;
    color: white;
}

.orangebg:hover{
    background-color: #E83C00;
    color: white;
}
.orangebg:focus{
    background-color: #E83C00;
    color: white;
}

@media screen and (max-width: 768px) {
    .carouselp{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .understand{
        margin-top: 48px;
    }
}
